.competition__title {
  font-size: var(--font-size-4xl);
  font-weight: var(--font-weight-bold);
}

.competition__disciplines {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-medium);
}
.competition__date {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-light);
}

.competition__location {
  font-weight: var(--font-weight-medium);
}

.competition__image {
  margin-top: var(--space-lg);
}
