.container {
  max-width: 600px;

  padding-inline: var(--container-padding);
  margin-inline: auto;

  @media screen and (min-width: 768px) {
    max-width: 900px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 1280px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1320px;
  }
}
