.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-sticky);

  display: flex;
  align-items: center;

  width: 100%;
  min-height: 60px;

  border-bottom: 1px solid var(--color-divider);
  background-color: var(--color-bg-primary);

  @media (min-width: 768px) {
    min-height: 80px;
  }
}

.page-header__container {
  flex-grow: 1;
}
