:root {
  --space-0: 0;
  --space-2xs: 0.125rem; /* 2px */
  --space-xs: 0.25rem; /* 4px */
  --space-sm: 0.5rem; /* 8px */
  --space-md: 0.75rem; /* 12px */
  --space-lg: 1rem; /* 16px */
  --space-xl: 1.5rem; /* 24px */
  --space-2xl: 2rem; /* 32px */
  --space-3xl: 2.5rem; /* 40px */
  --space-4xl: 3rem; /* 48px */
  --space-5xl: 4rem; /* 64px */
  --space-6xl: 6rem; /* 96 */
}
