:root {
  --space-0: 0;
  /* 2px */
  --space-2xs: 0.125rem;
  /* 4px */
  --space-xs: 0.25rem;
  /* 8px */
  --space-sm: 0.5rem;
  /* 16px */
  --space-md: 1rem;
  /* 24px */
  --space-lg: 1.5rem;
  /* 32px */
  --space-xl: 2rem;
  /* 48px */
  --space-2xl: 3rem;
}
