@use '../../../abstracts/mixins/reset';

.mobile-nav {
  @include reset.list-reset;

  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.mobile-nav__link {
  font-size: var(--font-size-4xl);
  font-weight: var(--font-weight-medium);
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;

  transition: color var(--duration-normal) var(--timing-cubic);

  &:hover,
  &:focus {
    color: var(--color-text-accent);
  }
}
