.button-link {
  display: inline-flex;
  align-items: center;

  padding-block: var(--space-xs);
  padding-inline: var(--space-sm);

  border: 1px solid currentColor;
  border-radius: var(--radius-full);

  font-size: var(--font-size-xs);
  line-height: var(--line-height-none);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--tracking-ui);
  text-wrap: nowrap;
  color: var(--color-text-strong);
  text-decoration: none;

  background-color: transparent;

  transition:
    color var(--duration-normal) var(--timing-cubic),
    background-color var(--duration-normal) var(--timing-cubic);

  &:hover,
  &:focus {
    color: var(--color-text-inverse);
    background-color: var(--color-bg-dark);
  }
}

.button-link__icon {
  fill: currentColor;
}
