@mixin list-reset {
  padding-left: 0;

  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

@mixin link-reset {
  color: inherit;
  text-decoration: none;
}

@mixin button-reset {
  padding: 0;
  margin: 0;

  border: none;
  background: transparent;

  font: inherit;
  color: inherit;

  text-align: inherit;
  appearance: none;
}

@mixin input-reset {
  margin: 0;

  border: none;
  background: transparent;

  font: inherit;
  color: inherit;

  appearance: none;
}
