.newsletter {
  display: flex;
  flex-direction: column;
}

.newsletter__call-to-action {
  margin-bottom: var(--space-lg);
  @media (max-width: 767.98px) {
    text-align: center;
  }
}

.newsletter__form {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  // align-items: center;
  // justify-content: center;

  // margin-top: 1.25rem;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.newsletter__input {
  display: block;

  padding-block: 0;
  padding-inline: var(--space-lg);

  border-radius: var(--radius-sm);
  border: 1px solid var(--color-border-strong-inverse);

  width: 14.25rem;
  height: 2.5rem;

  font-size: var(--font-size-xs);
  color: var(--color-text-inverse);

  background-color: inherit;
  box-shadow: var(--shadow-box-md);

  transition: border-color var(--duration-normal) var(--timing-cubic);

  &:focus {
    outline: none;
    border-color: var(--color-border-accent);
  }
}
