@use '../../abstracts/mixins/reset';

.social {
  display: flex;
  flex-direction: column;
  --social-size: 1.25rem;

  &--lg {
    --social-size: 1.5rem;
  }
}

.social__list {
  @include reset.list-reset;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
}

.social__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: var(--space-sm);

  border: 1px solid transparent;
  border-radius: var(--radius-full);

  line-height: 1;
  color: inherit;

  background-color: var(--color-bg-overlay-light-10);

  transition:
    color var(--duration-normal) var(--timing-cubic),
    background-color var(--duration-normal) var(--timing-cubic);

  &:hover,
  &:focus {
    color: var(--color-text-inverse);
    background-color: var(--color-bg-accent);
  }
}

.social__icon {
  width: var(--social-size);
  height: var(--social-size);

  fill: currentColor;
}

.social__title {
  margin-bottom: var(--space-lg);

  @media (max-width: 767.98px) {
    text-align: center;
  }
}
