//? Margin utilities
// .u-mt-xs {
//   margin-top: var(--space-xs);
// }
// .u-mt-sm {
//   margin-top: var(--space-sm);
// }
// .u-mt-md {
//   margin-top: var(--space-md);
// }
// .u-mt-lg {
//   margin-top: var(--space-lg);
// }

// .u-mb-xs {
//   margin-bottom: var(--space-xs);
// }
// .u-mb-sm {
//   margin-bottom: var(--space-sm);
// }
// .u-mb-md {
//   margin-bottom: var(--space-md);
// }
// .u-mb-lg {
//   margin-bottom: var(--space-lg);
// }

// .u-ml-xs {
//   margin-left: var(--space-xs);
// }
// .u-ml-sm {
//   margin-left: var(--space-sm);
// }
// .u-ml-md {
//   margin-left: var(--space-md);
// }
// .u-ml-lg {
//   margin-left: var(--space-lg);
// }

// .u-mr-xs {
//   margin-right: var(--space-xs);
// }
// .u-mr-sm {
//   margin-right: var(--space-sm);
// }
// .u-mr-md {
//   margin-right: var(--space-md);
// }
// .u-mr-lg {
//   margin-right: var(--space-lg);
// }

//? Padding utilities
// .u-px-xs {
//   padding-left: var(--space-xs);
//   padding-right: var(--space-xs);
// }
// .u-px-sm {
//   padding-left: var(--space-sm);
//   padding-right: var(--space-sm);
// }
// .u-px-md {
//   padding-left: var(--space-md);
//   padding-right: var(--space-md);
// }
// .u-px-lg {
//   padding-left: var(--space-lg);
//   padding-right: var(--space-lg);
// }

// .u-py-xs {
//   padding-top: var(--space-xs);
//   padding-bottom: var(--space-xs);
// }
// .u-py-sm {
//   padding-top: var(--space-sm);
//   padding-bottom: var(--space-sm);
// }
// .u-py-md {
//   padding-top: var(--space-md);
//   padding-bottom: var(--space-md);
// }
// .u-py-lg {
//   padding-top: var(--space-lg);
//   padding-bottom: var(--space-lg);
// }
