//? Text alignment
// .u-text-left {
//   text-align: left;
// }
// .u-text-center {
//   text-align: center;
// }
// .u-text-right {
//   text-align: right;
// }
// .u-text-justify {
//   text-align: justify;
// }

//? Text style
// .u-text-bold {
//   font-weight: bold;
// }
// .u-text-normal {
//   font-weight: normal;
// }
// .u-text-italic {
//   font-style: italic;
// }
// .u-text-uppercase {
//   text-transform: uppercase;
// }
// .u-text-lowercase {
//   text-transform: lowercase;
// }
// .u-text-capitalize {
//   text-transform: capitalize;
// }

//? White-space control
// .u-text-nowrap {
//   white-space: nowrap;
// }
