.partner-card {
  border: 1px solid var(--color-border-default);
  border-radius: var(--radius-sm);

  overflow: hidden;
}

.partner-card__link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--space-lg);

  line-height: 1;

  background-color: transparent;

  transition:
    border-color var(--duration-normal) var(--timing-cubic),
    background-color var(--duration-normal) var(--timing-cubic);

  &:hover,
  &:focus {
    border-color: var(--color-border-accent);
    background-color: var(--color-bg-secondary);
  }
}
