@use '../../abstracts/mixins/reset';

.team-card {
  width: 100%;

  border-bottom-left-radius: var(--radius-sm);
  border-bottom-right-radius: var(--radius-sm);

  overflow: hidden;

  box-shadow: var(--card-box-shadow-static);

  background-color: var(--color-bg-primary);
}

.team-card__thumbnail {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.team-card__image {
  display: block;
  width: 100%;
  height: 100%;

  object-position: center;
  object-fit: cover;
}

.team-card__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);

  padding: var(--space-lg);
}

.team-card__meta {
  text-align: center;
}

.team-card__name-link {
  @include reset.link-reset;

  font-size: var(--font-size-xl);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.team-card__name {
  color: var(--color-text-title);
}

.team-card__location,
.team-card__age {
  font-size: var(--font-size-sm);
  color: var(--color-text-light);
}

.team-card__social {
  color: var(--color-text-primary);
}
